body {
    background-color: #cff1f5;
    margin:0px;
}


div.gallery {
    margin: 5px;
    background-color: white;
    border: 1px solid #ccc;
    float: left;
    width: 150px;
    height: 150px;
    }

div.gallery:hover {
    border: 1px solid #727272;
    }

div.gallery img {
    width: 100%;
    height: 75%;
    }
div.titre {
    padding-top: 5px;
    text-align: center;
}

div.auteur {
    padding-top: 5px;
    text-align: center;
}

div.liens{
    text-align: center;
}


#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
}
  
#navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
}